<div class="row">
  <div class="panel panel-default">
     <div class="panel-heading">Mean Time To Recover (MTTR) Weekly Trend </div>
    <div class="panel-body chart" pivot-table datasource="data" options="weekly7DaysMTTR.options" pivot-ui="false"></div>
  </div>

  <div class="panel panel-default">
     <div class="panel-heading">Build Time</div>
    <div class="panel-body chart" pivot-table datasource="data" options="weeklyBuildTime.options" pivot-ui="false"></div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Build Success Rate </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Component</div>
          <div class="panel-body chart" pivot-table datasource="data" options="weeklySucessRate.compile" pivot-ui="false"></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">QA Deploy</div>
          <div class="panel-body chart" pivot-table datasource="data" options="weeklySucessRate.qaDeploy" pivot-ui="false"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Functional</div>
          <div class="panel-body chart" pivot-table datasource="data" options="weeklySucessRate.functional" pivot-ui="false"></div>
        </div>
      </div>
    </div>
  </div>
</div>
